html, body {
  height: 100%;
}
nav a {
  margin: 10px;
}

nav a:hover {
  color: purple;
  transition: .45s;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  height: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #2f2f2f;
  color: white;
}
.container {
  min-height: 100%;
}
