html {
  background-color: #37474F;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  position: absolute;
  z-index: -2;
  top:0;
}

.homeBox {
  top: 220px;
  left: 0;
  right: 0;
  z-index: -1;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.navbar {
  background-color: #263238;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

.navbar-toggler {
  border-color: rgba(0,0,0,0) !important;
  color: rgb(255,255,255) !important;
}

.navbar-toggler-icon {
  background-color: #f00; /* Changes regular toggle color */
}

hr {
  display: block;
  height: 1px;
  border: 0;

  border-color: rgba(210,210,210,.4) !important;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}

h1 {
    color: white !important;
}

h4 {
    color: white !important;
}

.btn {
  color: white !important;
}