.jumbotron {
  box-shadow: 0px 0px 0px black;
}

.avatar {
  margin: 30px;
  border: 8px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  box-shadow: 0px 0px 0px black;
}

.accent-text {
  color: red;
}

.footbar {
  height: 300px;
}

.logo {
  color: white !important;
  float: left;
}

.dropdown-item:active {
  background-color: white !important;
}

.underline {
  border-bottom: 3px solid white;
}

.row {
  width: 100%;
}

.mypicture {
  margin-top: 100px;
  margin-bottom: 100px;
}

a:hover {
  color: #9fa8da !important;
}
